<div class="white-bg">

  <div class="top-select">
    <input type="radio" onclick="notifs(); noNotifClick()" id="hire" name="notifs" class="select-notif" hidden checked>
    <label for="hire" class="select-notif-label">
      Hire requests&nbsp
    </label>
    |&nbsp
    <input type="radio" onclick="notifs(); noNotifClick()" id="reviews" name="notifs" class="select-notif" hidden>
    <label for="reviews" class="select-notif-label">
      Reviews&nbsp
    </label>
    |&nbsp
    <input type="radio" onclick="notifs(); noNotifClick()" id="bookmarks" name="notifs" class="select-notif" hidden>
    <label for="bookmarks" class="select-notif-label">
      Bookmarks
    </label>
  </div>
  <hr>

  <div class="old" id="hire-notifs" onload="noNotif()">
    {{#each notifs}}
    {{#if (eq type_id 1)}}
    <div class="notification">
      <div class="specific-not">
        {{#ifEqual creator.user_gender "Male"}}
        <img class="img-fluid" id="first-img" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
        {{else}}
        <img class="img-fluid" id="first-img" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
        {{/ifEqual}}
        <a href="/Profiles{{creator.user_id}}">
          <p class="username">{{creator.user_full_name}}</p>
        </a>
        <p class="action">has requested to hire you.</p><br><br><br>
        <p class="action" style="font-weight: bold;">Job:</p><p> {{this.work_request}}</p>
        <p class="action" style="float: left; font-weight: bold;">Offer per hour: {{this.offer}}</p><br><br><br>
        <div class="notification-buttons" data-notif="{{_id}}" data-user="{{creator.user_id}}">
          <button class="btn btn-success" onclick="replyToRequest(event, 1)" type="button">Accept</button>
          <button class="btn btn-danger" onclick="replyToRequest(event, 0)" type="button">Reject</button>
        </div>
      </div>
      <p class="date">{{formatDate this.createdAt 'DD/MM/YY'}}</p>
      <hr>
    </div>
    {{/if}}
    {{#if (eq type_id 4)}}
    <div class="notification">
      <div class="specific-not">
        {{#ifEqual creator.user_gender 'Male'}}
        <img class="img-fluid" id="first-img" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
        {{else}}
        <img class="img-fluid" id="first-img" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
        {{/ifEqual}}
        <a href="/Profiles/{{creator.user_id}}">
          <p class="username">{{creator.user_full_name}} </p>
        </a>
        <p class="action">responded to your hire request:</p>
        <br>
        <p>{{extra_data.response}}</p>
        {{#ifEqual extra_data.response "Hire request accepted."}}
        <p style="font-weight: bold;">Please contact at: {{creator.user_phoneNumber}}</p>
        {{else}}
        {{/ifEqual}}
        <div class="notification-buttons" data-notif="{{_id}}" data-user="{{creator.user_id}}">
          <button type="submit" onclick="deleteNotif(event)" class="buttons"
            style="float: inline-end; margin-top: 15px;">Delete</button>
        </div>
      </div>
      <p class="date">{{formatDate this.createdAt 'DD/MM/YY'}}</p>
      <hr>
    </div>
    {{/if}}
    {{else}}
    {{/each}}
  </div>
  <div class="old" id="bookmark-notifs" onload="noNotif()" hidden>
    {{#each notifs}}
    {{#if (eq type_id 2)}}
    <div class="notification">
      <div class="specific-not">
        {{#ifEqual creator.user_gender 'Male'}}
        <img class="img-fluid" id="first-img" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
        {{else}}
        <img class="img-fluid" id="first-img" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
        {{/ifEqual}}
        <a href="/Profiles/{{creator.user_id}}">
          <p class="username">{{creator.user_full_name}} </p>
        </a>
        <p class="action">Bookmarked you.</p>
        <br>
        <p class="message"></p>
        <div class="notification-buttons" data-notif="{{_id}}" data-user="{{creator.user_id}}">
          <button type="submit" onclick="deleteNotif(event)" class="buttons"
            style="float: inline-end; margin-top: 15px;">Delete</button>
        </div>
      </div>
      <p class="date">{{formatDate this.createdAt 'DD/MM/YY'}}</p>
      <hr>
    </div>
    {{/if}}
    {{else}}
    {{/each}}
  </div>
  <div class="old" id="reviews-notifs" onload="noNotif()" hidden>
    {{#each notifs}}
    {{#if (eq type_id 3)}}
    <div class="notification">
      <div class="specific-not">
        {{#ifEqual creator.user_gender 'Male'}}
        <img class="img-fluid" id="first-img" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
        {{else}}
        <img class="img-fluid" id="first-img" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
        {{/ifEqual}}
        <a href="/Profiles/{{creator.user_id}}">
          <p class="username">{{creator.user_full_name}} </p>
        </a>
        <p class="action">Reviewed you: </p>
        <br>
        <p class="message">{{slice extra_data.review_text 0 200}}{{#if (gt extra_data.review_text.length
          200)}}<span style="font-weight: bold;">...</span>{{/if}}</p>
        <div class="notification-buttons" data-notif="{{_id}}" data-user="{{creator.user_id}}">
          <button type="submit" onclick="deleteNotif(event)" class="buttons"
            style="float: inline-end; margin-top: 15px;">Delete</button>
        </div>
      </div>
      <p class="date">{{formatDate this.createdAt 'DD/MM/YY'}}</p>
      <hr>
    </div>
    {{/if}}
    {{else}}
    {{/each}}
  </div>

</div>