<h3>{{user.firstName}} {{user.lastName}}, {{user.gender}}</h3>
<h3 class="type-text" id="user-type">Worker</h3>
<div id="form">
    <p class="username">{{user.firstName}} {{user.lastName}}</p>
    <div class="thumb">
        <label for="img-input">
            {{#ifEqual user.gender 'Male'}}
            <img class="img-fluid" id="first-img" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
            {{else}}
            <img class="img-fluid" id="first-img" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
            {{/ifEqual}}
        </label>
    </div>
    <div class="rating">
        {{#if user.averageRating}}
        {{#times user.averageRating}}
        <i class="fas fa-heart" id="heart2"></i>
        {{/times}}
        {{/if}}
    </div>
    <div class="contact-info">
        <p class="contact-label">Contact info:</p>
        <p class="phone-number">{{user.phoneNumber}}, {{user.email}}</p>
    </div>
    <div class="type">
        <div id="experience">
            <p class="experience-label">Experience:</p>
            <p class="experience" id="user-experience">{{user.experience}}</p>
        </div>
    </div>
    <div style="display: flex; justify-content: space-evenly">
        <a href="/Main" class="buttons">Home</a>
        <a href="/Reviews/{{user._id}}" class="buttons">View reviews</a>
        {{#ifEqual userData.userType 1}}
        <button class="buttons" id="hire-button" onclick="hireUser('{{user._id}}')">Hire!</button>
        {{else}}
        {{/ifEqual}}
    </div>