<div id="body">
    <h4 style="margin-top: 50px;">Read what people say about {{user.firstName}} {{user.lastName}}'s work</h4>
    <button onclick="showPopUp()" class="buttons" style="margin-bottom: 10px; padding: 5px;"> Add Review</button>
    <div class="grid-container">
        {{#each reviews}}
        <div id="review1" class="reviews white-reviews">
            {{#ifEqual creator.user_gender 'Male'}}
            <img class="img-fluid" id="first-img" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
            {{else}}
            <img class="img-fluid" id="first-img" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
            {{/ifEqual}}
            <span>{{formatDate this.createdAt 'DD/MM/YY'}}</span>
            <div>
                <a href="/Profiles/{{this.creator.user_id}}">
                    <h5>{{creator.user_full_name}}</h5>
                </a>
            </div>
            <div class="rating">
                {{#if this.rating}}
                {{#times this.rating}}
                <i class="fas fa-heart"></i>
                {{/times}}
                {{/if}}
            </div>
            <p style="font-weight: bold;">
                Fields worked in: {{this.fields}}
            </p>
            <p>
                {{this.review}}
            </p>
        </div>
        {{/each}}
    </div>
</div>

<div id="popup" class="popup" style="display: none; position: absolute; left: 40%;">
    <input type="radio" name="names" onclick="closePopup()" id="close" hidden>
    <label for="close"><i class="fa-solid fa-xmark"></i></label>
    <label for="rating">Rating</label><br>
    <select name="rating" id="rating-input" style="margin-bottom: 1rem;">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <label for="review">Review</label><br>
    <textarea name="review" placeholder="Please enter your review" rows="5" cols="30" id="review-input"
        required></textarea><br>
    <textarea name="fields" placeholder="Quickly state what fields {{user.firstName}} worked for you in." rows="2"
        cols="30" id="fields-input" style="border-radius: 10px;" required></textarea>
    <button class="pop-buttons" id="submit-review-btn" type="submit" onclick="createReview('{{user._id}}')">Submit
        review!</button>
</div>